

.section-best {
    background: url(../img/bg.jpg) center center no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: rem(650px);
    background-size: cover; }
  
  .section-best__title {
    font-family: Gagalin-Regular;
    color: #2f3234;
    font-size: rem(71px);
    font-weight: 400;
    line-height: rem(63px);
    height: rem(150px); }
  
  .section-best__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: rem(0px); 
    width: 95%;
    
  @include phones{
   flex-direction: column;

}}
  
  .section-best__item {
    display: flex;
    flex-direction: column;
    padding: rem(10px);
    align-items: center;
    width: rem(300px);
    @include tablets{
      width:30%;}
  @include phones{
    width:95%;
    flex-direction: row;

}}
  
  h4 {
    font-family: Lifehack-Medium;
    color: #2f3234;
    font-size: rem(24px);
    font-weight: 500;
    line-height: rem(28px);
    margin-bottom: rem(0px); }
  
  p {
    font-family: Ubuntu-Light;
    color: #2f3234;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    text-align: center; }
  
  .section-best__item-icon {
    width: rem(97px);
    height: rem(89px); 
    
}
  
  .section-best__item-img {
    width: rem(97px);
    height: auto; }
   
    .section-best__item-content{
      text-align: center;
    }