.section-best{
    background: url(../img/bg.jpg) center center no-repeat;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 650px;
    background-size: cover;

}

.section-best__title{
height: 150px;
    font-family: Gagalin-Regular;
color: #2f3234;
font-size: 71.73px; 
font-weight: 400;
line-height: 63.745px;

}

.section-best__list{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left:0px;
}

.section-best__item{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
width: 300px;
}

h4{
    font-family: Lifehack-Medium;
color: #2f3234;
font-size: 23.97px; 
font-weight: 500;
line-height: 28px; 
 
 margin-bottom: 0px;}

p{
    font-family: Ubuntu-Light;
color: #2f3234;
font-size: 14px; 
font-weight: 300;
line-height: 24px; 
text-align: center;
 
}

.section-best__item-icon
{
width: 97px;
height: 89px;

}

.section-best__item-img
{
width: 97px;
height: auto;

}







