.section-comments {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: rem(650px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  
  .section-comments__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0; }
  
  .section-comments__list-item {
    position: relative;
    width: 25%;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: grayscale(1);
    list-style: none; }
  
  .section-comments__text {
    display: none;
    height: 50vh;
    justify-content: center;
    padding: rem(0px);
    background-color: rgba(20, 20, 20, 0.7); }
  
  .section-comments__list-item:hover .section-comments__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: rem(20px);
    padding-left: rem(20px); }
  
  .section-comment__text-autor {
    margin-bottom: rem(16px);
    font-family: "Gagalin-Regular";
    color: white;
    font-size: rem(14px);
    line-height: rem(28px);
    text-transform: uppercase; }
  
  .section-comment__text-letter {
    font-size: rem(14px);
    line-height: 1.7;
    color: white;
    text-align: left; }
  
  .section-comment__batton {
    font-family: Ubuntu-Medium;
    padding: rem(10px) rem(15px);
    margin-top: rem(16px);
    font-size: rem(13px);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #3c3d3e;
    border-radius: rem(5px); }
  