.section-contacts
{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: rem(650px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    
}
.section-contacts__map{
    background: url(./img/map.png);
    width: 100%;
    height: 100vh;
    min-height: rem(650px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.section-contacts__map-marker1{
position: absolute;
right: 38%;
bottom: 58%;
max-width: rem(45px);
max-height: rem(45px);
}

.section-contacts__map-marker2{
    position: absolute;
    right: 50%;
    bottom: 80%;
    max-width: rem(45px);
    max-height: rem(45px);
    
    }
    .section-contacts__map-marker3{
        position: absolute;
        right: 22%;
        bottom: 30%;
        max-width: rem(45px);
max-height: rem(45px);
        }

        .section-contacts__map-marker4{
            position: absolute;
            right: 52%;
            bottom: 20%;
            max-width: rem(45px);
max-height: rem(45px);
            }

.map-marker{
    width: 100%;
}

.footer{
    background: url(./img/footer.png) ;
    background-size: cover;
display: flex;
flex-direction: row;
position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
justify-content: space-around;
align-items: center;

height: auto;
@include tablets{
      
  }
  @include phones{
    justify-content: center;
    flex-direction: column;
    align-items: center;


  }
}

.footer__coll{

display: flex;
flex-direction: column;
align-items: center;

}

.footer__coll-adress{

    font-family: Ubuntu-light;
color: #ffffff;
font-size: rem(14px); 
font-weight: 300;
line-height: rem(24px);
text-align: left;

}

.footer__coll-phone{
display: flex;
flex-direction: row;
font-family: Ubuntu-B;
color: #e45028;
font-size: rem(14px); 
font-weight: 700;
line-height: rem(24px); 
text-align: left;

}

.footer__phone-icon{
    margin-right: rem(12px);
}

.footer__sotial-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}
.footer__sotial-item{
    list-style: none;
    margin-left: rem(12px);
    
}

.footer__sotial-icon{
    display: block;
max-width:rem(20px);
max-height: rem(20px);

}

.footer__sotial-img{
  width: 100%;  
  opacity: 0.3;
}

.footer__sotial-item:hover .footer__sotial-img{
    opacity: 1;
}








