.section-team {
  background-image: url(../img/team.png);
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.section-team__accordion {
  background-color: rgba(47, 50, 52, 0.93);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100vh; }

.section-team__list {
  list-style: none;
  padding-left: rem(80px); }

.section-team__title {
  font-family: Gagalin-Regular;
  color: #f9b43b;
  font-size: rem(71px);
  margin-bottom: rem(50px);
  text-align: left;
  padding-left: rem(80px);
  padding-top: rem(50px); }

.section-team__item {
  margin-bottom: rem(15px); }
  .section-team__item.active .team__item--trigger {
    color: #f9b43b; }

.section-team__item--trigger {
  display: inline-block;
  font-family: Gagalin-Regular;
  color: #ffffff;
  font-size: rem(14px);
  font-weight: 400;
  line-height: rem(28px);
  text-align: left;
  text-decoration: none;
  text-transform: uppercase; }
  .section-team__item--trigger:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: rem(9px);
    height: rem(6px);
    margin-right: rem(8px);
    background-image: url(../img/Polygon1.png); }

.section-content__item {
  display: flex;
  flex-direction: row;
  color: white;
  height: rem(0px);
  overflow: hidden; }

.section-content__item-active {
  display: flex;
  flex-direction: row;
  color: white;
  overflow: hidden; }

.active-trigger {
  display: inline-block;
  font-family: Gagalin-Regular;
  color: #f9b43b;
  font-size: rem(14px);
  font-weight: 400;
  line-height: rem(28px);
  text-align: left;
  text-decoration: none;
  text-transform: uppercase; }
  .active-trigger:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: rem(9px);
    height: rem(6px);
    margin-right: rem(8px);
    background-image: url(../img/Polygon2.png); }

.section-content__item-avatar {
  margin: rem(10px); }

.section-content__item-status {
  font-family: Ubuntu-B;
  color: #ffffff;
  font-size: rem(14px);
  font-weight: 700;
  line-height: rem(24px);
  text-align: left; }

.section-content__item-text {
  font-family: Ubuntu-Regular;
  color: #ffffff;
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px); }
