.section-top {
  background: url(./img/video-bg.png) center center no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover; 
  position: relative;
@include tablets {
  min-height:  rem(850px);
}
@include phones{
  min-height: rem(850px);
}}
 
.popup-menu{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(30, 34, 37, 0.99);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  height: 100%;

}


.popup-menu__close{
  position: absolute;
  top: 0;
  right: 0;
  right: rem(50px);
    top: rem(50px);
    width: rem(15px);
    height: rem(15px);
    cursor: pointer;
&::before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  background: #d3d2d2;
  width: rem(25px);
height: rem(5px);
transform: rotate(45deg);
border-radius: rem(5px);
}
&::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #d3d2d2;
  width: rem(25px);
height: rem(5px);
transform: rotate(135deg);
border-radius: rem(5px);
}

}
.popup-menu__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}

.popup-menu__item{
 list-style: none; 
 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
  &:before{
    content: "";
    display: block;
    background: white;
    width: rem(8px);
    height: rem(8px);
    border-radius: 50%;
    margin: rem(20px) 0;}

    &:first-child::before {
     
      display:none;
     
  }
}
.popup-menu__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: rem(26px);
  font-family: Ubuntu-B;
  font-weight: 500;
  text-transform: uppercase;
  
}


.header {
  width: 100%;
 padding-right: rem(20px);
  min-height: rem(130px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  @include tablets {
    width: 90%;
  }
@include phones{
    width: 90%;
}
  }

.header__logo {
  height: rem(69px);
  width: rem(92px);
  margin-right: auto;
z-index: 15; }

.header__logo-img {
  height: 100%;
  width: rem(92px); }

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end; 
 }

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex-wrap: wrap;
  @include tablets{
    display: none;}

@include phones{
  display: none;
} }

.menu__item {
  margin-left: rem(15px);
  list-style: none; }
  .menu__item::after {
    content: '';
    display: inline-block;
    height: rem(4px);
    width: rem(4px);
    vertical-align: middle;
    border-radius: 50%;
    background-color: white;
    margin-left: rem(15px); }
  .menu__item:last-child:after {
    display: none; }

.menu__link {
  font-family: Ubuntu-Medium;
  color: #ffffff;
  font-size: rem(13px);
  line-height: rem(30px);
  text-align: right;
  text-decoration: none;
  text-transform: uppercase; }

  .hamburger-menu__link{
    position: relative;
    display: none;

    @include tablets{
      display: flex;}
  @include phones{
    display: flex;

}
  }

  .hamburger-menu__btn{
    display: block;
    position: absolute;
    background-color: white;
    border-radius: rem(3px);
    width: rem(25px);
    height: rem(5px);
    margin-left:  rem(12px);
    cursor: pointer;
    &::before{
      content: "";
      
    position: absolute;
    top: rem(-10px);
    background-color: white;
    border-radius: rem(3px);
    width: rem(25px);
    height: rem(5px);
    }
    &::after{
      content: "";
      
    position: absolute;
    top: rem(10px);
    background-color: white;
    border-radius: rem(3px);
    width: rem(25px);
    height: rem(5px);
  }
  }

.order {
  font-family: Ubuntu-Medium;
  color: #ffffff;
  font-size: rem(13px);
  text-transform: uppercase;
  border: solid rem(3px) #e45028;
  border-radius: rem(5px);
  background-color: #e45028;
  width: rem(97px);
  height: rem(35px);
  margin-left: rem(20px);
  cursor: pointer;
}

.order-link{
  font-family: Ubuntu-Medium;
  color: #ffffff;
text-decoration: none;
}

.section-top__content {
  display: flex;
  flex-direction: row;
 
  align-items: center;
  justify-content: center;
 
  width: 95%; 
  
  
  @include tablets{
    padding: 0 30px 0 30px;
    flex-direction: column;
    align-items: center;
  justify-content: center;
  width:100%;}
@include phones{
flex-direction: column;
align-items: center;
justify-content: center;
width:100%;
padding: 0 20px;}}

.content__image {
  background: url(./img/drops.png) rem(0px) rem(50px) no-repeat;
  background-size: contain;
  width: 50%; 

  @include tablets{
    text-align: center;
 max-width: 65%;
width: 100%;}

@include phones{
   text-align: center;
   max-width: 80%;
  width: 100%; }}

.content__image-pic {
  width: 100%;
  height: auto;
   }

   .content__title{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   width: 45%;
   padding-top: rem(60px);

    @include tablets{
      width: 100%;
      padding-top: rem(0px);

    }
  
  @include phones{
    width: 100%;
    margin-top: rem(20px);
    padding-top: rem(0px);}}
   

.content__title-header {
  
  font-family: Gagalin-Regular;
  color: #f9b43b;
  font-size: rem(72px);
  line-height: rem(85px);
  text-align: left; 
  @include tablets{
    text-align: center;}

@include phones{
   text-align: center; }}

.content__title-text {
  font-family: Lifehack-Medium;
  color: #ffffff;
  font-size: rem(65px);
  line-height: rem(60px);
  text-align: left;
  margin-top: rem(30px);
  max-width: 100%;
  @include tablets{
    text-align: center;}

@include phones{
   text-align: center; }}

.scroll {
position: absolute;
bottom: rem(35px);
  left: 50%; 
  @include tablets{
    bottom: rem(20px);}

@include phones{
  bottom: rem(20px); }}

.scroll__top-image {
  width: rem(29px);
  height: rem(14px); }

.fixed-nav {
  position: fixed;
  right: rem(45px);
  top: rem(90px);
  z-index: 20; 
  @include tablets{
    display: none;

}
@include phones{
  display: none;
}}

.fixed-nav__list {
  display: flex;
  flex-direction: column; }

.fixed-nav__page {
  list-style: none;
  &.active {
		.fixed-nav__link {
			&:before {
				width: rem(14px);
				height: rem(14px);
				opacity: 1;
			}
		}
	}
}

.fixed-nav__page {
	margin-bottom: rem(5px);
}

  .fixed-nav__link {
    width: rem(16px);
    height: rem(16px);
    display: block;
    position: relative;
  
    &:after, &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
  
    &:after {
      width: rem(6px);
      height: rem(6px);
      background: #fff;
    }
  
    &:before {
      width: rem(0px);
      height: rem(0px);
      border-radius: 50%;
      border: rem(1px) solid #fff;
      opacity: 0;
      transition: .3s;
    }
  
    &:hover {
      &:before {
        width: rem(14px);
        height: rem(14px);
        opacity: 1;
      }
    }
  }