.section-top {
  background: url(../img/video-bg.png) no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: rem(650px);
  background-size: cover; }

.header {
  width: rem(1100px);
  min-height: rem(130px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.header__logo {
  height: rem(69px);
  width: rem(92px);
  margin-right: auto; }

.header__logo-img {
  height: 100%;
  width: rem(92px); }

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end; }

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: end; }

.menu__item {
  margin-left: rem(15px);
  list-style: none; }
  .menu__item::after {
    content: '';
    display: inline-block;
    height: rem(4px);
    width: rem(4px);
    vertical-align: middle;
    border-radius: 50%;
    background-color: white;
    margin-left: rem(15px); }
  .menu__item:last-child:after {
    display: none; }

.menu__link {
  font-family: Ubuntu-Medium;
  color: #ffffff;
  font-size: rem(13px);
  line-height: rem(30px);
  text-align: right;
  text-decoration: none;
  text-transform: uppercase; }

  .hamburger-menu__link{
    position: relative;
    display: none;
  }

  .hamburger-menu__btn{
    display: block;
    position: absolute;
    background-color: white;
    border-radius: rem(3px);
    width: rem(25px);
    height: rem(5px);
    margin-left:  rem(12px);
    &::before{
      content: "";
      display: flex;
    position: absolute;
    top: rem(-10px);
    background-color: white;
    border-radius: rem(3px);
    width: rem(25px);
    height: rem(5px);
    }
    &::after{
      content: "";
      display: flex;
    position: absolute;
    top: rem(10px);
    background-color: white;
    border-radius: rem(3px);
    width: rem(25px);
    height: rem(5px);
  }
  }

.order {
  font-family: Ubuntu-Medium;
  color: #ffffff;
  font-size: rem(13px);
  text-transform: uppercase;
  border: solid rem(3px) #e45028;
  border-radius: rem(5px);
  background-color: #e45028;
  width: rem(97px);
  height: rem(35px);
  margin-left: rem(20px); }

.section-top__content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  width: rem(880px); }

.content__image {
  background: url(../img/drops.png) rem(0px) rem(50px) no-repeat;
  width: auto; }

.content__image-pic {
  width: rem(417px);
  height: auto;
  margin-left: rem(30px); }

.content__title-header {
  font-family: Gagalin-Regular;
  color: #f9b43b;
  font-size: rem(72px);
  font-weight: 400;
  line-height: rem(85px);
  text-align: left; }

.content__title-text {
  font-family: Lifehack-Medium;
  color: #ffffff;
  font-size: rem(65px);
  font-weight: 500;
  line-height: rem(60px);
  text-align: left;
  margin-top: rem(30px); }

.scroll {
  position: absolute;
  bottom: rem(42px);
  left: 50%; }

.scroll__top-image {
  width: rem(29px);
  height: rem(14px); }

.fixed-nav {
  position: fixed;
  right: rem(45px);
  top: rem(90px);
  z-index: 20; }

.fixed-nav__list {
  display: flex;
  flex-direction: column; }

.fixed-nav__page {
  list-style: none;
  position: relative; }

.fixed-nav__page::after {
  content: '';
  display: inline-block;
  width: rem(6px);
  height: rem(6px);
  border-radius: 50%;
  background: #c9c9c9;
  margin: rem(0px); }

.fixed-nav__hover::after {
  display: none;
  position: absolute;
  top: rem(3px);
  left: rem(-5px);
  content: '';
  width: rem(14px);
  height: rem(14px);
  border-radius: 50%;
  border: rem(1px) solid #c9c9c9; }

.fixed-nav__page:hover .fixed-nav__hover::after {
  display: inline-block; }
